<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cine Muchatlu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('main.home') }}">🎬 Cine__Muchatlu</a></h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a> |
            <a href="{{ url_for('main.login') }}">Admin Login</a> |
            <a href="{{ url_for('main.signup') }}">Sign Up</a>
        </nav>
    </header>
    <hr>
    
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Cine__Muchatlu. All rights reserved.</p>
    </footer>
</body>
</html>
